# 原版 YOLO/RT-DETR 基础依赖
matplotlib>=3.3.0
numpy>=1.22.2
opencv-python>=4.6.0
Pillow>=7.1.2
PyYAML>=5.3.1
requests>=2.23.0
scipy>=1.4.1
tqdm>=4.64.0
pandas>=1.1.4
seaborn>=0.11.0

# 你小论文创新点（FDA-DETR）的专属核心依赖！
PyWavelets>=1.4.1

wandb>=0.25.1

polars